---
type Props = {
  title?: string;
  description?: string;
  color?: string;
  image?: string;
};
import BackgroundCircle from "../components/react/BackgroundCircle";
import "@fontsource/bebas-neue";
import "@fontsource/press-start-2p";
import "../styles/tailwind-colors.css";

const {
  title = "Generador de cartas de cumplea침os",
  color = "bg-pink-500",
  image = "",
  description = "Este es un generador de cartas de cumplea침os generico para esos que se nos olvidan los cumplea침os y quiere dar algo especial y diferente",
} = Astro.props;

const classesBg = `absolute left-0 right-0 top-0 -z-10 m-auto h-[310px] w-[310px] rounded-full ${`bg-${color}`} opacity-20 blur-[100px]`;

const url = new URL(image, Astro.url);

console.log("Url", url);
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/cumple-logo-icon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#ccc" />
    <title>{title}</title>
    <meta name="description" content={description} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />

    <meta name="og:image" itemprop="image" content={image} />
    <meta name="og:image:secure_url" itemprop="image" content={image} />
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <meta name="og:url" content={Astro.url} />
    <meta name="og:site_name" content="Genarador de p치ginas" />
    <meta name="og:type" content="website" />
    <meta name="og:locale" content="es_CO" />
    <meta property="og:updated_time" content="1712327759" />
  </head><body class="h-screen overflow-x-hidden overflow-y-auto">
    <div
      class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"
    >
      <BackgroundCircle color={color} />
    </div>
    <div
      class="w-full relative h-full 2xl:max-w-[60%] grid place-items-center md:max-w-[60%] md:m-auto 2xl:m-auto md:p-4"
    >
      <slot />
    </div>
  </body>

  <style is:global define:vars={{ color }}>
    * {
      font-family: "Bebas Neue", sans-serif;
    }

    .text-game {
      font-family: "Press Start 2P", system-ui;
    }
  </style>
</html>
